.Account {
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
  margin-left: -23px;
}

.card1 {
  box-shadow: -5px 10px 35px -1px #a2f6d6;
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  background-color: #c37e7e00;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-background {
  background-color: #000000;
  height: 60vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-button1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
  background: turquoise;
}
