.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  box-shadow: -4px 10px 35px -1px #a2f6d6;
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
}

.form-control {
  border: 1px solid #91ccc5;
  border-radius: 4px;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.form-label {
  font-size: large;
  padding: 5px;
}

.btn-primary1 {
  background-color: #8cd4ca;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary1:hover {
  border: 5px solid #e903036a;
}

.Login {
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
}
.login-background {
  background-color: #000000;
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
