.card-body {
  display: flex;
  flex-direction: column; /* This makes the content stack vertically */
  align-items: center; /* This centers the content horizontally */
  width: 55%; /* This ensures the div takes the full width of its container */
  box-shadow: -4px 10px 35px -1px #a2f6d6;
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
}

.signup-form .form-control {
  border: 1px solid #91ccc5;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.signup-form .btn-primary {
  background-color: #8cd4cc;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-form .btn-primary:hover {
  background-color: #7bb3b3;
}
.signup {
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
}
.signup-background {
  background-color: #000000;
  height: 60vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
