@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

/* Navbar CSS */
.navbar {
  background-color: #8cd4cc;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000000;
}

.a {
  padding: 15px 15px 15px 15px;
  display: flex;
  font-size: xx-large;
}

.nav-menu {
  background-color: #8cd4cc;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
  width: 150px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #8cd4cc;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.icons {
  font-size: larger;
}

.nav-title {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: right;
  font-size: 2rem;
  background-color: #ffffff;
  color: #000000;
}

.container {
  margin: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  box-shadow: -4px 10px 35px -1px #a2f6d6;
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  overflow-y: auto;
  height: 50%;
  border-radius: 15px;
}

.card {
  box-shadow: -5px 10px 35px -1px #a2f6d6;
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #c37e7e;
  width: 500px;
}

.account {
  align-items: center;
  justify-content: center;
  float: center;
}

h1 {
  margin-left: 20px;
}

h2 {
  justify-content: center;
  width: 100%;
  margin-right: 50px;
}

button, .button {
  padding: 10px;
  border-radius: 30px;
  border-color: #a2f6d6;
  border-width: 3px;
  background: black;
  width: 10px;
  color: white;
  justify-content: center;
  text-align: center;
  padding-right: 40px;
  cursor: pointer;
}

.button {
  width: 75px;
}

.listening {
  background: red;
}

.account-button {
  float: center;
  display: flex;
  padding: 10px;
  justify-self: left;
  border-radius: 30px;
  background: transparent;
}

.card-body {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-background {
  background-color: #000000;
  height: 60vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-background {
  background-color: #000000;
  /* color: white; */
  /* background-image: url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif"); */
}

table {
  border-collapse: collapse;
  justify-content: center;
  width: 100%;
}

.chat-title {
  font-size: 20px;
}

.menu {
  width: 100%;
  grid-column: 1 / span 2;
  justify-content: center;
  text-align: center;
}

select {
  justify-content: center;
  text-align: center;
  width: 100px;
}

.dropdown-menu {
  background-color: #91ccc5;
  border-radius: 15px;
  height: 40px;
}

.form-label {
  font-size: large;
}

.card-header {
  font-size: xx-large;
}

.App {
  height: 130px;
  background-color: #8cd4cc;
  display: flex;
  justify-content: flex-start;
  text-shadow: 2px 2px #ffffff;
}

.Footer {
  align-items: center;
  width: 100%;
  position: static;
  bottom: 1px;
}

.App-footer {
  padding-top: 2px;
  padding-bottom: 2px;
}

.response,
p {
  font-size: 20px;
  text-align: center;
}

.p1 {
  font-size: 20px;
  text-align: center;
}

/* .greeting {
  transition-property: text;
  transition-duration: 1s;
  transition-timing-function: linear;
} */

.greeting {
  flex: 0.4;
  /* width: 500px;
  padding-left: 50px; */
  justify-content: center;
}
/* DESCRIPTION SECTION */
.mintBanner {
  background-color: #a6b5d4;
  color: #fff;
  height: 80vh;
}

.hero {
  /* display: flex; */
  justify-self: center;
  align-content: center;
  flex-wrap: nowrap;
}

.flags-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 2px;
}

.flag-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 65px;
  padding: 15px;
  margin: 5px;
  box-sizing: border-box;
}
.flag-item h5 {
  margin-top: 10px;
}

.description {
  display: row;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.description-item {
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  padding: 10px;
}


.enlarge-on-hover {
  transition: all 0.5s ease;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.enlarge-on-hover:hover {
  width: 200px;
}

/* TECH STACK SECTION */

.blackBanner {
  background-color: #000000;
  color: #fff;
  height: 30vh;
}

.techStackText {
  /* font-family: "Montserrat", sans-serif; */
  padding: 10px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  filter: grayscale(100%);
}

/* ABOUT US SECTION */
.lavenderBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #a6b5d4;
  color: #fff;
  height: 50vh;
}
.people {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next row */
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.person {
  flex: 1;
}

.dev-pics {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.dev-name {
  text-align: center;
  margin-top: 1px;
}

.aboutUsText {
  flex: 0.25;
}

/* SLIDER ANIMATIONS SECTION */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.person:nth-child(1) {
  transition-delay: 200ms;
}
.person:nth-child(2) {
  transition-delay: 400ms;
}
.person:nth-child(3) {
  transition-delay: 600ms;
}
.person:nth-child(4) {
  transition-delay: 800ms;
}

.description-item:nth-child(1) {
  transition-delay: 100ms;
}

.description-item:nth-child(2) {
  transition-delay: 600ms;
}

.description-item:nth-child(3) {
  transition-delay: 1200ms;
}

.description-item:nth-child(4) {
  transition-delay: 1800ms;
}

/* FORMS ? SECTION */
form {
  padding-top: 7px;
}

form > input {
  border-width: 3px;
  border-color: #91ccc5;
  border-radius: 15px;
  height: 40px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.7);
}
